### 1. What are escape characters, and how do you use them?

##### Ans--> Escape characters are used to insert those characters in string value that are otherwise difficult to write into code. An escape character is a backslash (\\) followed by the character we want to insert into the code.

example: txt = "we are \\"GREATFUL\\" to you."

### 2. What do the escape characters n and t stand for?

##### Ans--> \n stands for new line character and \t stands for tab character

### 3. What is the way to include backslash characters in a string?

##### Ans--> The backslash character can be included in a string by using double backslash characters (\\\\)

### 4. The string "Howl's Moving Castle" is a correct value. Why isn't the single quote character in the word Howl's not escaped a problem?

##### Ans--> It is correct as we have used double quotes " " to enclose the complete string.

### 5. How do you write a string of newlines if you don&#39;t want to use the n character?

##### Ans--> We can use multiline strings to write newlines if we dont want to use the n character. We can do so by enclosing our string by three single or double quotes.



```
t = '''
this is line1
this is line 2
this is line 3
'''
```

### 6. What are the values of the given expressions?


```
'Hello, world!'[1]
'Hello, world!'[0:5]
'Hello, world!'[:5]
'Hello, world!'[3:]
```

##### Ans-->


```
'Hello, world!'[1] 

--> results in 'e'

```

```
'Hello, world!'[0:5]

--> results in 'Hello'
```

```
'Hello, world!'[:5]

--> results in 'Hello'
```

```
'Hello, world!'[3:]

--> results in 'lo, world!'
```

### 7. What are the values of the following expressions?


```
'Hello'.upper()
'Hello'.upper().isupper()
'Hello'.upper().lower()
```

#####Ans-->


```
'Hello'.upper()

--> results in 'HELLO'
```


```
'Hello'.upper().isupper()

--> results in True
```


```
'Hello'.upper().lower()

--> results in 'hello'
```

### 8. What are the values of the following expressions?


```
'Remember, remember, the fifth of July.'.split()
'-'.join('There can only one.'.split())
```

In [18]:
'Remember, remember, the fifth of July.'.split()

['Remember,', 'remember,', 'the', 'fifth', 'of', 'July.']

##### Ans->>



```
'Remember, remember, the fifth of July.'.split()

--> results in
['Remember,', 'remember,', 'the', 'fifth', 'of',' July.']

```



```
'-'.join('There can only one.'.split())

--> results in 

'There-can-only-one.'
```

### 9. What are the methods for right-justifying, left-justifying, and centering a string?

##### Ans--> The methods are below:

* rjust() is used for right justifying.
* ljust() is used for left justifying.
* center() is used for centering a string.

### 10. What is the best way to remove whitespace characters from the start or end?

##### Ans--> The best way to remove whitespace characters from the start or end is using lstrip() and rstrip() functions.